<html>
    <head>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
        <style>
            .show{
              /* background-color: rgb(237, 237, 236); */
              margin-left: auto;
              margin-top:auto;
            
              margin-top: 30px;
             
            }
            p{
              font-size: 20px;
              font-weight: bold;
            }
            .title{
              text-align: center;
              font-size : 25px;
              margin-bottom: 45px;
            }
            body{
              font-family: 'Roboto', sans-serif;
              /* font-family: 'Roboto Flex', sans-serif; */
            }
        </style>
    </head>
    <body>
        {{#each d}}
        <div class="title"><u><h1> {{this.topic}}</h1></u></div>
         
         {{/each}}
         
         {{#each contentarray}}
         <div class="show">
          {{#ifCond this.data '==' ''}}
               <img src = "{{this.url}}" width = "300px" style="display: block; margin-right: auto; margin-left: auto;">
          {{/ifCond}}
          {{#ifCond this.data '!=' ''}}
              <p>{{this.data}}</p>
          {{/ifCond}}
         
        </div>
           {{/each}}
        
    </body>
</html>